:root{
  // --primary-color: #C5C5C5!important;
  // --secondary-color: #6C7478!important;
  // --tertiary-color: red!important;
  // --success-color: #80b855!important;
  // --warning-color: #eaca44!important;
  // --error-color: #ef4d4d!important;
  --premiumColor: rgb(77, 218, 42);
  --secondColor: rgb(77, 218, 42);
  --btnColor: rgb(77, 218, 42);
  --backgroundColor: rgb(77, 218, 42);
}

// sidebar
$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#304156;
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
